apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-sqlserver
  labels:
    app: users-sqlserver
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users-sqlserver
  template:
    metadata:
      labels:
        app: users-sqlserver
    spec:
      containers:
        - name: sqlserver
          image: mcr.microsoft.com/mssql/server:2022-latest
          ports:
            - containerPort: 1433
              protocol: TCP
          env:
            - name: ACCEPT_EULA
              value: "Y"
            - name: MSSQL_PID
              value: "Developer"
            - name: SA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: users-sqlserver-secret
                  key: SA_PASSWORD
          volumeMounts:
            - name: sqlserver-data
              mountPath: /var/opt/mssql
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "2Gi"
              cpu: "1000m"
      volumes:
        - name: sqlserver-data
          persistentVolumeClaim:
            claimName: users-sqlserver-pvc
