apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: users-sqlserver-pvc
  labels:
    app: users-sqlserver
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
