apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: notifications-sqlserver-pvc
  labels:
    app: notifications-sqlserver
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
