apiVersion: v1
kind: Service
metadata:
  name: payments-api
spec:
  type: NodePort
  selector:
    app: payments-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30082
