apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: catalog-sqlserver-pvc
  labels:
    app: catalog-sqlserver
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
