apiVersion: v1
kind: Service
metadata:
  name: catalog-api
spec:
  type: NodePort
  selector:
    app: catalog-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30081
