apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: payments-sqlserver-pvc
  labels:
    app: payments-sqlserver
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
