apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments-sqlserver
  labels:
    app: payments-sqlserver
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payments-sqlserver
  template:
    metadata:
      labels:
        app: payments-sqlserver
    spec:
      containers:
        - name: sqlserver
          image: mcr.microsoft.com/mssql/server:2022-latest
          ports:
            - containerPort: 1433
              protocol: TCP
          env:
            - name: ACCEPT_EULA
              value: "Y"
            - name: MSSQL_PID
              value: "Developer"
            - name: SA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: payments-sqlserver-secret
                  key: SA_PASSWORD
          volumeMounts:
            - name: payments-sqlserver-data
              mountPath: /var/opt/mssql
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "2Gi"
              cpu: "1000m"
      volumes:
        - name: payments-sqlserver-data
          hostPath:
            path: /var/lib/docker/volumes/fcgorquestrator_payments-sqlserver-data/_data
            type: DirectoryOrCreate
